body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #801a8d;
  margin: 0;
}
form {
  border: 0px solid #3f1146;
  display: flex;
  width: 580px;
  height: 250px;
  align-items: center;
  text-align: center;
  padding: 15px;
  justify-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 6px 6px 18px 10px #3f1146;
  color: #3f1146;
  margin: 0;
}
.form-title {
  display: flex;
  border-bottom: 1px solid #000000;
  width: 609px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 3px;
  margin: 0;
}
.form-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  justify-items: center;
}
label {
  display: flex;
}
input {
  width: 100px;
  border-radius: 5px;
  border: 1px solid #939393;
  margin-left: 5px;
  box-sizing: border-box;
}

.btn-save {
  background-color: #801a8d;
  color: white;
  border-radius: 15px;
  border: none;
  width: 70px;
  height: 30px;
  text-align: center;
  padding: 5px;
  align-items: center;
  box-shadow: 5px 3px 5px 0px #3f1146;
}
.btn-cancel {
  border: none;
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  background-color: rgb(212, 209, 209);
  box-shadow: 5px 3px 5px 0px #3f1146;
  width: 70px;
  height: 30px;
}
table {
  border: 1px solid black;
}
